{% extends "base.html" %}

{% block custom_style %}
 <!-- Custom styles for this template -->
    <link href="/static/table.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
  <h2 class="border-bottom border-gray pb-2 mb-0">Videos del usuario</h2>
  <div>
    <table class="table" style="width: 100%">
      <thead>
        <tr> 
          <th scope="col" >ID</th>
          <th scope="col">Filename</th>
          <th scope="col">Video details</th>
        </tr>
      </thead>
      <tbody>
        {% for video in data %}
        <tr>
          <td>{{video.vid}}</td>
          <td>{{video.filename}} </td>
          <td>
            <form action="{{ url_for('video_info',idVideo=video.vid) }}" method="get">
              <input type=submit value="Ver detalles" />
            </form>
          </td>
  
          
        </tr>

        {% endfor %}

      </tbody>
    </table>
    </p>
  </div>

</div>
{% endblock %}
